<a href="https://colab.research.google.com/github/jeongsu1524/aipython/blob/main/2024_01_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
data= "John,30,Engineer\nAlice,25,Designer\nBob,22,Artist"
lines = data.split("\n")

In [5]:
for line in lines:
  fields = line.split(",")
  print("Name:", fields[0], "Age:", fields[1], "Occupation:", fields[2])

Name: John Age: 30 Occupation: Engineer
Name: Alice Age: 25 Occupation: Designer
Name: Bob Age: 22 Occupation: Artist

In [6]:
words = ['Hello', 'world', 'this', 'is', 'a', 'test']
sentence = ' '.join(words)
print(sentence)

Hello world this is a test

In [7]:
data= "Geeks for Geeks"
lines = data.split(" ")
print(lines)

['Geeks', 'for', 'Geeks']

In [9]:
data="lines"
sentence = '-'.join(lines)
print(sentence)

Geeks-for-Geeks

In [20]:
squares = [x**2 for x in range(5) if x%2==0]
print(squares)

[0, 4, 16]

In [21]:
squares = [x**2 for x in range(20) if x%3==0]
print(squares)

[0, 9, 36, 81, 144, 225, 324]

In [24]:
squares = [x**2 for x in range(1,6)]
print(squares)

[1, 4, 9, 16, 25]

In [26]:
x = [1, 2, 3, 4, 5]
squares = [num**2 for num in x]
print(squares)

[1, 4, 9, 16, 25]

In [29]:
city =  ["Seoul", "New York", "London", "Shanghai", "Paris", "Tokyo"]
answer = [x for x in city if 'S' in x]
print(answer)

['Seoul', 'Shanghai']

In [37]:
fruits = ['apple', 'banana', 'cherry']
for index, fruit in enumerate(fruits,start=1):
  print(index, fruit)

1 apple
2 banana
3 cherry

In [43]:
letters = ['a', 'b', 'c']

for index, letter in enumerate(letters):
    print(f"fruit{index} name is {letter}")

fruit0 name is a
fruit1 name is b
fruit2 name is c

In [47]:
letters = ['a', 'b', 'c']

for index in range(len(letters)):
    letter = letters[index]
    print(f"fruit{index} name is {letter}")

fruit0 name is a
fruit1 name is b
fruit2 name is c

In [48]:
names = ['John', 'Jane', 'Doe']
ages = [25, 30, 35]
for name, age in zip(names, ages):
  print(f"{name} is {age} years old.")

John is 25 years old.
Jane is 30 years old.
Doe is 35 years old.

In [51]:
keys = ['a', 'b', 'c']
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

result_dict = dict(zip(keys, zip(list1, list2, list3)))
print(result_dict)

{'a': (1, 4, 7), 'b': (2, 5, 8), 'c': (3, 6, 9)}

In [54]:
name = [ "M", "N", "S", "A" ]
roll_no = [ 4, 1, 3, 2 ]
output = list(zip(name, roll_no))
print(output)

[('M', 4), ('N', 1), ('S', 3), ('A', 2)]

In [56]:
names = ['M', 'R', 'C']
ages = [24, 50, 18]

In [62]:
add:lambda x,y:x+y
print(add(10,10))

20

In [60]:
def ad(x,y):
  return x+y
print(ad(5,7))

12